/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
transition: .5s ease all;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
background-color: #F3F6F6;
color: #40514E;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS */

header {
color: white;
text-align: center;
min-height: 30em;
position: relative;
background: -webkit-linear-gradient(bottom, rgb(48, 227, 202), rgb(17, 153, 158));
background: -o-linear-gradient(bottom, rgb(48, 227, 202), rgb(17, 153, 158));
background: linear-gradient(to top, rgb(48, 227, 202), rgb(17, 153, 158));
height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Tangerine', cursive;
}
h1 {
font-size: 7rem;
}
h2 {
font-size: 3.5rem;
}
h3 {
font-size: 5rem;
}
h4 {
font-size: 2.5rem;
}
h5 {
font-size: 2rem;
}
h6 {
font-size: 1.5rem;
}
header h1 {
padding: 30vh 0 0;
}
header h1:before {
    content: "";
    display: block;
    background: url(../img/lotus.png) no-repeat;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    position: absolute;
    top: 13vh;
    left: 0;
    right: 0;
}
label {
display: block;
font-weight: 800;
color: #11999E;
margin: 1.2em 0 .5em;
float: left;
}
p {
display: block;
margin: 1em 0 2em;
line-height: 1.6;
}
span {
border-bottom: 2px #11999E solid;
font-weight: 700;
}
b {
font-weight: 800;
color: #11999E;
}
small {
font-size: .8rem;
}
a {
color: #30E3CA;
font-weight: bold;
border-bottom: 2px solid;
    text-decoration: none;
    transition: .5s ease all;
}
a:hover, a:focus, a:active{
	transition: .5s ease all;
	border-bottom: 4px solid;

}
aside {
    width: 28%;
    margin: 15% 2% 15% 0;
    position: absolute;
    bottom: 0;
    right: 0;
}
footer {
display: block;
text-align: center;
width: 100%;
margin: 5em 0 0;
padding: 0 0 2em;
overflow: hidden;
}
abbr[title], acronym[title] {
text-decoration: none;
text-transform: lowercase;
font-variant: small-caps;
font-size: 125%;
}
/* SECTIONS */
.page-wrapper {
	overflow: hidden;
	position: relative;
}
.page-wrapper:after {
    content: "Desarrollado por Caterina Da Silva";
    font-size: 80%;
    position: absolute;
	bottom: 5em;
	right: 0;
	left: 0;
	color: #11999E;
	text-align: center;
}
.main h3 {
    margin: 2em 0 .5em;
    color: #11999E;
}
#zen-intro {
position: relative;
text-align: center;
color: #fff;
}
.intro p {
    padding: 1vh 15%;
    font-weight: bold;
    font-size: 120%;
}
.intro a {
	color: #11999E;
}
.summary {
    position: absolute;
    top: 60vh;
    right: 0;
    color: #fff;
    margin: 0 auto;
    left: 0;
}
.preamble{
background: -webkit-linear-gradient(180deg, rgb(48, 227, 202), rgb(243, 246, 246));
background: linear-gradient(180deg, rgb(48, 227, 202), rgb(243, 246, 246));
height: 100vh;
}
.preamble h3 {
	position: relative;
    padding: 20vh 0 5vh;
}
.preamble h3:before {
    content: "";
    display: block;
    background: url(../img/buddha.png) no-repeat;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#zen-explanation h3 {
	margin-top: 0;
}
#zen-supporting {
display: block;
width: 60%;
margin: 5% 5% 10%;
float: left;
}
.wrapper {
    bottom: 0;
}
.design-selection, .design-archives, .zen-resources {
    margin: 5em 0 2em;
}
.design-selection h3, .design-archives h3, .zen-resources h3 {
    font-size: 3em;
}

aside ul li {
    margin: 1em 0;
    line-height: 1.5;
}